[Question] How should `owner`  parameter be used in lock_op2() in FSAL api?

Hi, community, 

I don't understand how to use `owner` and `state` parameters in lock_op2 in FSAL api. From the implementation, VFS FSAL does not use `owner`. CEPH FSAL does convert it as a uint64 but I doesn't find the usage in [CEPH source code](https://github.com/ceph/ceph/blob/8bb8a6978c673fa5ae0e99e479d972bf64471ce9/src/include/cephfs/libcephfs.h#L2042). 

I'm not sure whether not using these two parameters is ok in our FSAL implementation. 

Could you give more introduction to these two parameters?


```
/**
 * @brief Perform a lock operation
 *
 * This function performs a lock operation (lock, unlock, test) on a
 * file. This method assumes the FSAL is able to support lock owners,
 * though it need not support asynchronous blocking locks. Passing the
 * lock state allows the FSAL to associate information with a specific
 * lock owner for each file (which may include use of a "file descriptor".
 *
 * @param[in]  obj_hdl          File on which to operate
 * @param[in]  state            state_t to use for this operation
 * @param[in]  owner            Lock owner
 * @param[in]  lock_op          Operation to perform
 * @param[in]  request_lock     Lock to take/release/test
 * @param[out] conflicting_lock Conflicting lock
 *
 * @return FSAL status.
 */
	 fsal_status_t (*lock_op2)(struct fsal_obj_handle *obj_hdl,
				   struct state_t *state,
				   void *owner,
				   fsal_lock_op_t lock_op,
				   fsal_lock_param_t *request_lock,
				   fsal_lock_param_t *conflicting_lock);

```

The state parameter points to a state_t that describes the state for the operation. The FSAL may/probably has an extension over what is used at the protocol layer (9p/NFSv3/NFSv4). Some FSALs attach some kind of file descriptor to the state (most FSALs do to open state, only a few do for lock state - FSAL_VFS for one case since it uses Open File Description locks to handle multiple lock owners from a single process).

Recall that for NFSv4, each stateid maps to one client-file-owner tuple. We basically manufacture the same for NFSv3 to simplify the FSAL API.

The owner is provided for those fsals (GPFS and CEPH for example) that can take an arbitrary identifier to distinguish lock owners. Both basically cast the pointer into a uint64_t to provide a unique lock owner identifier internally.

In order to have the back end filesystem provide lock support to Ganesha, it must have some way to distinguish lock owners other than process, if that can be accomplished with basically a unique 64 bit identifier, then owner works. If you need something else, then you would need to represent the lock owner in something part of or attached to the state.

> In order to have the back end filesystem provide lock support to Ganesha, it must have some way to distinguish lock owners other than process, if that can be accomplished with basically a unique 64 bit identifier, then owner works. 

Why need FSAL distinguish lock owners?  

I guess one possible case is that when the lock owner wants to lock the byte range again, nfs-server can grant this lock.
According to NFS v4.1 RFC8881, Section 18.10.4:
> When the client sends a LOCK operation that corresponds to a range that the lock-owner has locked already (with the same or different lock type), or to a sub-range of such a range, or to a byte-range that includes multiple locks already granted to that lock-owner, in whole or in part, and the server does not support such locking operations (i.e., does not support POSIX locking semantics), the server will return the error NFS4ERR_LOCK_RANGE.

 as long as there exists some lock with the conflicting byte range,  FSAL can return STATE_LOCK_CONFLICT.  FSAL doesn't have to distinguish whether the owner of locked range is the same as the requesting lock owner.


Another possible case is that FSAL records lock owner when granting a lock, and on LockDenied, the conflicting lock owner field should be filled.  However, nfs-ganesha doesn't support this field now and it just sets with `unknown_owner`.

> struct LOCK4denied {
	offset4 offset;
	length4 length;
	nfs_lock_type4 locktype;
	lock_owner4 owner;
};

Could you give more explanation? 

Best regards

If we push locks into the back end, the back end needs to be able to treat each NFS lock owner as a separate lock owner. This requires SOMETHING that is per lock owner. For FSAL_VFS, the way to accomplish this is to use Open File Description locks that treat each file description (separate from a file descriptor) as the lock owner rather than the process. Other FSALs, like GPFS, have a way to use a void * or uint64_t to identify lock owners.

Ganesha conforms to the POSIX locking conventions where the NFS lock owner may request locks that it already has, including upgrading and downgrading.

Is it ok to use the lock owner given by NFS client? It will be more clear to distinguish different lock owners for FSAL.

```
struct state_owner4 {
	clientid4 clientid;
	struct {
		u_int owner_len;
		char *owner_val;
	} owner;
};

typedef state_owner4 lock_owner4;
```

While there may be a consideration that is helpful to the FSAL to use the full lockowner, note that then the FSAL would need to use that full lock owner with client information. It would also have to undestand NFSv3 and 9P lock owners also.

The advantage of the pointer is that it makes a unique owner identifier for the lifetime of the owner. The uniqueness could be lost if the state isn't completely cleaned up when the lock owner is released since a new lock owner could end up with the same pointer but where that would occur is in a FSAL upcall to grant a blocked lock using an out of data lock owner because the grant processing got delayed past the expiration of the owner. But a match would require the NEW lock owner that happens to have the same pointer have a blocked lock with on the SAME file, and SAME byte range and lock type.

Got it. Thanks for your reply. 