Fix client hang when TEST_STATEID return NFS4ERR_STALE_STATEID

@ffilz @dang Hi, in our cluster, nfs client got stuck when ls dir, then I use tcpdump to capture the packet in client. I find TEST_STATEID return NFS4ERR_STALE_STATEID infinitely, and restart ganesha does not work.
![image](https://user-images.githubusercontent.com/92144382/158185902-8702ce73-1c67-4ebb-9273-45e8078b8e9d.png)

Then I found this [patch](https://linux-nfs.vger.kernel.narkive.com/RultTjGZ/patch-nfsd-test-stateid-should-not-return-nfs4err-stale-stateid), so I change [status = NFS4ERR_STALE_STATEID;](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/SAL/nfs4_state_id.c#L901) to `status = NFS4ERR_BAD_STATEID;`, then It worked. What do you think of this fix ?

Where did you make the change?

What are the circumstances of this issue arising?


@ffilz Hi, I make change in nfs4_state_id.c, and in function: nfs4_Check_Stateid. And I do not know how this issue arising, I only see the phenomenon.
```
	/* Check if stateid was made from this server instance */
	if (epoch != epoch_low) {
		if (str_valid)
			LogDebug(COMPONENT_STATE,
				 "Check %s stateid found stale stateid %s",
				 tag, str);
                -  status = NFS4ERR_STALE_STATEID;
		+  status = NFS4ERR_BAD_STATEID;
		goto failure;
	}
```

I also print the epoch and epoch_low, the epoch which comes from client, will not change forever(observe 15minutes), so the client hang forever(observe 3 hours). When I restart ganesha, epoch changes to the pre epoch_low, i.e. epoch changes to 1647313318, but epoch_low change to new value when restart ganesha, so epoch will never equal to epoch_low, when `status = NFS4ERR_STALE_STATEID`.

`Check TEST_STATEID stateid found stale stateid OTHER=0x1d000000d9f42f6202000000 {{CLIENTID Epoch=0x622ff4d9 Counter=0x0000001d} StateIdCounter=0x00000002} seqid=1 epoch 1647310041 epoch_low 1647313318`

@ffilz  @dang Hi, How do you think of this ? Do I need to submit a patch ? 

That is the only place NFS4ERR_STALE_STATEID is set, so changing that is not correct.

I'm not sure why your client isn't properly responding to NFS4ERR_STALE_STATEID. From RFC7530 section 9.6.2. Server Failure and Recovery:

```
A client can determine that server failure (and thus loss of locking
state) has occurred, when it receives one of two errors. The
NFS4ERR_STALE_STATEID error indicates a stateid invalidated by a
reboot or restart. The NFS4ERR_STALE_CLIENTID error indicates a
client ID invalidated by reboot or restart. When either of these is
received, the client must establish a new client ID (see
Section 9.1.1) and re-establish the locking state as discussed below.

```
What client are you using? The client should respond by establishing a new client id with the server and then start reclaiming state.

@ffilz our client is https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.4.143

Hmm, you might want to get a tcpdump trace of the issue and talk to Linux client people. I'm pretty certain Ganesha is doing the right thing (and I'm pretty sure this is at least somewhat tested by pynfs). The client is supposed to go into state reclaim if it gets NFS4ERR_STALE_STATEID or NFS4ERR_STALE_CLIENTID. Those errors are HOW NFSv4+ clients detect server reboot and the need to reclaim.

This issue is quite old with no further information. From the above, it doesn't seem like a Ganesha issue. Closing as not resolved.

The specific operations are as follows: A single client mounts the Ganesha server using a virtual IP address, abca:909::20. After mounting, the client runs its business operations for a period of time. The testing team performs network down and up operations on two fixed nodes of the three-node cluster as follows: they execute the "down" operation on the network interface card (NIC) of node 1, followed immediately by the "up" operation. Then they perform similar operations on node 2, where the downtime and uptime of the NIC may vary from a few seconds to several tens of seconds. During the NIC down and up operations on the nodes, there was no waiting for the business to recover. After repeating these operations several times on nodes 1 and 2, the NFS4ERR_GRACE condition occurred.

Additionally, we also conducted the same test later in an attempt to reproduce the failure, but were unsuccessful.

Furthermore, providing additional information: After the failure occurred, we set the log level to debug and identified that an error occurred during open4_validate_claim. Based on other log information, we found that there are only two possible error locations:

In the open4_validate_claim function, within the case CLAIM_NULL:
if ((data->minorversion > 0) && !clientid->cid_cb.v41.cid_reclaim_complete)
status = NFS4ERR_GRACE;
break;

If (status == NFS4_OK) {
  if (take_ref) {
    if (nfs_get_grace_status(want_grace)) {
    *grace_ref = true;
    } else {
    status = want_grace ? NFS4ERR_NO_GRACE : NFS4ERR_GRACE;
    }
    } else {
    *grace_ref = false;
  }
}

> The specific operations are as follows: A single client mounts the Ganesha server using a virtual IP address, abca:909::20. After mounting, the client runs its business operations for a period of time. The testing team performs network down and up operations on two fixed nodes of the three-node cluster as follows: they execute the "down" operation on the network interface card (NIC) of node 1, followed immediately by the "up" operation. Then they perform similar operations on node 2, where the downtime and uptime of the NIC may vary from a few seconds to several tens of seconds. During the NIC down and up operations on the nodes, there was no waiting for the business to recover. After repeating these operations several times on nodes 1 and 2, the NFS4ERR_GRACE condition occurred.
> 
> Additionally, we also conducted the same test later in an attempt to reproduce the failure, but were unsuccessful.
> 
> Furthermore, providing additional information: After the failure occurred, we set the log level to debug and identified that an error occurred during open4_validate_claim. Based on other log information, we found that there are only two possible error locations:
> 
> In the open4_validate_claim function, within the case CLAIM_NULL: if ((data->minorversion > 0) && !clientid->cid_cb.v41.cid_reclaim_complete) status = NFS4ERR_GRACE; break;
> 
> If (status == NFS4_OK) { if (take_ref) { if (nfs_get_grace_status(want_grace)) { *grace_ref = true; } else { status = want_grace ? NFS4ERR_NO_GRACE : NFS4ERR_GRACE; } } else { *grace_ref = false; } }



> This issue is quite old with no further information. From the above, it doesn't seem like a Ganesha issue. Closing as not resolved.

The specific operations are as follows: A single client mounts the Ganesha server using a virtual IP address, abca:909::20. After mounting, the client runs its business operations for a period of time. The testing team performs network down and up operations on two fixed nodes of the three-node cluster as follows: they execute the "down" operation on the network interface card (NIC) of node 1, followed immediately by the "up" operation. Then they perform similar operations on node 2, where the downtime and uptime of the NIC may vary from a few seconds to several tens of seconds. During the NIC down and up operations on the nodes, there was no waiting for the business to recover. After repeating these operations several times on nodes 1 and 2, the NFS4ERR_GRACE condition occurred.

Additionally, we also conducted the same test later in an attempt to reproduce the failure, but were unsuccessful.

Furthermore, providing additional information: After the failure occurred, we set the log level to debug and identified that an error occurred during open4_validate_claim. Based on other log information, we found that there are only two possible error locations:

In the open4_validate_claim function, within the case CLAIM_NULL:
if ((data->minorversion > 0) && !clientid->cid_cb.v41.cid_reclaim_complete)
status = NFS4ERR_GRACE;
break;

If (status == NFS4_OK) {
if (take_ref) {
if (nfs_get_grace_status(want_grace)) {
*grace_ref = true;
} else {
status = want_grace ? NFS4ERR_NO_GRACE : NFS4ERR_GRACE;
}
} else {
*grace_ref = false;
}
}

> This issue is quite old with no further information. From the above, it doesn't seem like a Ganesha issue. Closing as not resolved.

The specific operations are as follows: A single client mounts the Ganesha server using a virtual IP address, abca:909::20. After mounting, the client runs its business operations for a period of time. The testing team performs network down and up operations on two fixed nodes of the three-node cluster as follows: they execute the "down" operation on the network interface card (NIC) of node 1, followed immediately by the "up" operation. Then they perform similar operations on node 2, where the downtime and uptime of the NIC may vary from a few seconds to several tens of seconds. During the NIC down and up operations on the nodes, there was no waiting for the business to recover. After repeating these operations several times on nodes 1 and 2, the NFS4ERR_GRACE condition occurred.

Additionally, we also conducted the same test later in an attempt to reproduce the failure, but were unsuccessful.

Furthermore, providing additional information: After the failure occurred, we set the log level to debug and identified that an error occurred during open4_validate_claim. Based on other log information, we found that there are only two possible error locations:

In the open4_validate_claim function, within the case CLAIM_NULL:
if ((data->minorversion > 0) && !clientid->cid_cb.v41.cid_reclaim_complete)
status = NFS4ERR_GRACE;
break;

If (status == NFS4_OK) {
if (take_ref) {
if (nfs_get_grace_status(want_grace)) {
*grace_ref = true;
} else {
status = want_grace ? NFS4ERR_NO_GRACE : NFS4ERR_GRACE;
}
} else {
*grace_ref = false;
}
}




> That is the only place NFS4ERR_STALE_STATEID is set, so changing that is not correct.
> 
> I'm not sure why your client isn't properly responding to NFS4ERR_STALE_STATEID. From RFC7530 section 9.6.2. Server Failure and Recovery:
> 
> ```
> A client can determine that server failure (and thus loss of locking
> state) has occurred, when it receives one of two errors. The
> NFS4ERR_STALE_STATEID error indicates a stateid invalidated by a
> reboot or restart. The NFS4ERR_STALE_CLIENTID error indicates a
> client ID invalidated by reboot or restart. When either of these is
> received, the client must establish a new client ID (see
> Section 9.1.1) and re-establish the locking state as discussed below.
> ```
> 
> What client are you using? The client should respond by establishing a new client id with the server and then start reclaiming state.

I also encountered this issue. After mounting the NFS-Ganesha server on the CentOS 7 client and running vdbench, I noticed that when the Ganesha server was restarted multiple times within a short period (before the grace period ended), the client received NFS4ERR_STALE_STATEID error when sending NFS4_OP_WRITE requests to the server.

I then modified the Ganesha code to simulate the NFS4ERR_STALE_STATEID error and observed how the client handled it. In my experiment, the CentOS 7 client continued to send erroneous NFS4_OP_WRITE requests. However, the latest Fedora operating system (Fedora-Server-dvd-x86_64-38-1.6) sent an OP_FREE_STATEID request after receiving NFS4ERR_STALE_STATEID. The server then responded with NFS4ERR_LOCKS_HELD.

I would like to know, according to the RFC7530 protocol, what request should the client issue to rebuild the client ID and re-establish the locking state when it receives the NFS4ERR_STALE_STATEID error?

@ffilz hi, I got the same problem in NFSv4.1. And I found some message FROM `RPC 5661 section 15.1.16.5`, maybe Ganesha is wrong in NFSv4.1's op
>    A stateid generated by an earlier server instance was used.  This
   error is moot in NFSv4.1 because all operations that take a stateid
   MUST be preceded by the SEQUENCE operation, and the earlier server
   instance is detected by the session infrastructure that supports
   SEQUENCE.


ref: https://datatracker.ietf.org/doc/html/rfc5661#section-15.1.16.5

This is still alive...

#1117 is a dupe of this

I just tried the proposed fix and ran pynfs 4.0 tests, and see the following failures, so the proposed fix is not right.

WRT11    st_write.testStaleStateid                                : FAILURE
           WRITE with stale stateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
RD10     st_read.testStaleStateid                                 : FAILURE
           READ with stale stateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
OPDG6    st_opendowngrade.testStaleStateid                        : FAILURE
           OPENDOWNGRADE with stale stateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
OPCF6    st_openconfirm.testStaleStateid                          : FAILURE
           OPEN_CONFIRM with a stale state should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
LKU9     st_locku.testStaleLockStateid                            : WARNING
           LOCKU with stale lockstateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
LOCK12b  st_lock.testStaleOpenStateid                             : WARNING
           LOCK with stale openstateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
LOCK12a  st_lock.testStaleLockStateid                             : WARNING
           LOCK with stale lockstateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID
CLOSE6   st_close.testStaleStateid                                : FAILURE
           CLOSE with a stale stateid should return
           NFS4ERR_STALE_STATEID, instead got NFS4ERR_BAD_STATEID




Try this fix https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/1193189?usp=search

It retains NFS4ERR_STALE_STATEID for 4.0 while changing to NFS4ERR_BAD_STATEID for 4.1.

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/1193189?usp=search

Closing as done with 6.0 release.