[Question] How does nfs-ganesha avoid state reclaimed in edge conditions?

According to NFS 4.1 RFC 8881, [Section 8.4.3](https://www.rfc-editor.org/rfc/rfc8881#name-network-partitions-and-reco)

> When a network partition is combined with a server restart, there are edge conditions that place requirements on the server in order to avoid silent data corruption following the server restart. Two of these edge conditions are known, and are discussed below.
...

There exist cases where NFS client may reclaim a lock which has been granted to others when the NFS client can't communicate with nfs-servers.  The nfs-server must handle these cases whether it rejects all lock reclaim or check lock reclaim in a fine-grained way by recording more information in stable storage.

I have not seen these considerations from our nfs-ganesha implementation.  Nfs-ganesha handles OP_RECLAIM_COMPLEETE very simply, without marking the co_ownerid into RecoveryBackend. And on expiration of some clientid, nfs-ganesha doesn't mark the co_ownerid expired into RecoveryBackend, either. 

So in order to avoid these cases, FSAL has to record enough information to reject locks reclaim if those locks have been granted to others.

Could our community give some ideas about this issue?





The server restart cases are handled by the fact that on restart, Ganesha reads the set of clients allowed to reclaim locks from the recovery data base. It then empties the recovery data base. Any client that is still partitioned and thus unable to reclaim state will not be present in the new recovery database and it will not be allowed to subsequently reclaim locks.

Ganesha also supports courteous server semantics where a client that doesn't renew in time doesn't lose it's state, but that state is released immediately if any conflicting state is requested the non-renewed client is immediately expired with all its state.

It seems that following case is not handled by nfs-ganesha. 

> The second known edge condition arises in situations such as the following:
Client A acquires one or more locks.
Server restarts.
Client A and server experience mutual network partition, such that client A is unable to reclaim all of its locks within the grace period.
Server's reclaim grace period ends. Client A has either no locks or an incomplete set of locks known to the server.
Client B acquires a lock that would have conflicted with a lock of client A that was not reclaimed.
Client B releases the lock.
Server restarts a second time.
Network partition between client A and server heals.
Client A connects to new server instance and finds out about server restart.
Client A reclaims its lock within the server's grace period.


Ah, OK, you're concerned about the case where the client has started reclaiming (or at least done a new SETCLIENTID or EXCHANGEID but not completed reclaim after the first server restart. So in that case, the server records the clientid in the recovery data base, which would allow it to reclaim after the second restart.

We do handle RECLAIM_COMPLETE so we could utilize that to only harden clientids established during grace period once RECLAIM_COMPLETE is processed.

Yeah. We need to enhance RECLAIM_COMPLETE.

Is there any plan to fix this issue?

We may fix this as follows:
1. On OP_RECLAIM_COMPLETE, we mark the clientid as reclaim_completed in the recovery backend with some new API. 
2. On starting grace, we load `cid_recover_tag`, `reclaim_completed` list and whether grace periods terminates(denoted by `end_grace`) from recovery_backend.

If `cid_recover_tag` does match, `end_grace` is true, but `reclaim_completed` is false, the clientid is not allowed to do reclaim. 

This design will change a lot about recovery_backend and need adaption of recovery_backend implementations. 


Code contributions are always welcome. Otherwise, it's in my backlog.

> Ah, OK, you're concerned about the case where the client has started reclaiming (or at least done a new SETCLIENTID or EXCHANGEID but not completed reclaim after the first server restart. So in that case, the server records the clientid in the recovery data base, which would allow it to reclaim after the second restart.
> 
> We do handle RECLAIM_COMPLETE so we could utilize that to only harden clientids established during grace period once RECLAIM_COMPLETE is processed.

According to NFS 4.0 RFC 7530 [Section 9.6.3.4 Edge Conditions](https://datatracker.ietf.org/doc/html/rfc7530#section-9.6.3.4):
>   When a network partition is combined with a server reboot, then both
   the server and client have responsibilities to ensure that the client
   does not reclaim a lock that it should no longer be able to access.
   Briefly, those are: 
Client's responsibility: A client MUST NOT attempt to reclaim any
      locks that it did not hold at the end of its most recent
      successfully established client lease.

If the NFS client fulfills its responsibility, it won't reclaim its lock again if it has started reclaiming(by SET_CLIENTID or EXCHANGEID) but fails to reclaim that lock. The above case doesn't exist anymore. 

However, I find that Linux NFS client(CentOS8) doesn't fulfill this responsibility in my practice.  And I don't find the description about NFS clients responsibility in NFS v4.1 RFC 8881.

Could you share some information about NFS clients' responsibility in edge conditions?

Client preferably would not try to reclaim if it detects an edge case, but we can't totally trust client...

So we should take more care, and I think we can do a better job here. We just need someone with time to make the fix...

[Patch](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/1195036) has been submitted. The patch adds enforcement to reject reclaim in some edge conditions. No recovery_backend enables this feature now. This patch focuses on the common mechanism, and patches to enable this feature can be submitted in the future in need.

I'm wondering exactly how this is going to work...

We need to track clients that started to reclaim, but we need to make an atomic switch at the point we end grace. Before we end grace, if we restart again, we still need to use the old recovery list since no client lost state whether it started reclaim at all or finished. At the point grace ends, any clients that didn't finish reclaim state are now out of luck. Or does the recovery system already handle that somehow?

Also, don't we need to do something here for NFSv4.0 clients?

In theory we also should do something for NFSv3 clients, but that's all in how statd works...

Now let's focus on NFS v4.1+ clients. For some clientid added into recovery_backend, we also record whether it reclaimed completely and whether last grace period terminated. We don't  distinguish whether OP_RECLAIM_COMPLETE is called during grace period or after grace period. As long as the OP is called, the client must not to reclaim states anymore. 

> We need to track clients that started to reclaim, but we need to make an atomic switch at the point we end grace. Before we end grace, if we restart again, we still need to use the old recovery list since no client lost state whether it started reclaim at all or finished. At the point grace ends, any clients that didn't finish reclaim state are now out of luck. Or does the recovery system already handle that somehow?

Indeed, our recovery_db is implemented similarly as above:
There are two fields  `reclaiming_clids` and   `clientids` . 
- On EVENT_TAKE_VIP,  the vip enters grace period,  then `clientids` are loaded and new clientid is recorded into `reclaiming_clids`. 
- When end_grace is called, `reclaiming_clids` replaces `clientids` atomically, and  `reclaiming_clids` is reset, any new clientid is recorded into `clientids`.  So in our case, `clientids` are all clientids for which grace period terminated.  

If there is some clientid in `clientids` without OP_RECLAIM_COMPLETE, it is not allowed to reclaim during next grace period. 





It is not very easy to distinguish whether last grace period terminates. Can we simplify the solution by just checking whether the clientid reclaimed completely? If end_grace() is not called, old clientids before grace_period **MAY**(according to implementation) exist in recovery_db. The NFS client is allowed to reclaim although the new clientid without reclaim complete is not allowed.

What's your opinion? If there is anything wrong, please point it out. 

I try to make my idea more clear here.

**For NFSv4.1+(inclusive) clients, we record whether they have reclaimed states completely into recovery backend on OP_RECLAIM_COMPLETE**. 
When nfs-ganesha enters into grace period, it loads client entries from recovery backend. Only those entries marked with reclaiming completely are allowed to reclaim during this grace period. 

It is unnecessary to record whether end_grace() is called into recovery backend. The implementation of recovery backend is expected to behave as follows if end_grace() of last grace period is not called.
1. The client entries added during last grace period SHOULD not be allowed to reclaim states, and they MUST not own any states either. 
2. The old client entries before last grace period MUST not be removed from recovery_backend.  These client id entries can allow the relevant NFS clients to reclaim again during next grace period. 

There two behaviors are intuitive. Now both the VFS backend and our backend behave as above.

The solution looks simple for NFS v4.1 clients though it doesn't work for NFS v4 clients. At least we can fix this recovery bug for NFS v4.1+ clients, which is more widely used than NFS v4 clients.  

Looking forward to reply from our community :)


Please note some people, my team included, still use NFSv4.

This solution doesn't work in NFSv4 and it doesn't make it worser either. 

According to NFS 4.0 RFC 7530 [9.6.3.4.3 Handling Server Edge Conditions](https://datatracker.ietf.org/doc/html/rfc7530#section-9.6.3.4.3),  a server implementation could, for each client, save in stable storage a record containing:
>    a timestamp that is updated the first time after a server boot or
      reboot the client acquires byte-range locking, share reservation,
      or delegation state on the server.  The timestamp need not be
      updated on subsequent lock requests until the server reboots.

The RFC also gives a method as example to avoid edge condition for NFSv4 clients. However, it is more complicated than NFS v4.1. And I think the solutions for both are very different.

The solution for NFS v4.1 above is promising. Can we fix this bug for NFSv4.1+ firstly?



> Please note some people, my team included, still use NFSv4.

@drieber I'm curious why your team does't use higher NFS version like NFSv4.1. NFSv4 itself is inadequate to some degree. 

@zhitaoli-6 could you lay out a design for this covering all the recovery DB activity and how that relates to client activity and grace period etc. Perhaps in something like a Google Doc?

Please see the design in [Edge condition 2 in NFSv.4 1 crash recovery for nfs-ganesha
](https://docs.google.com/document/d/1ELx96yWSKqSY97ogKHXONiYXNGIt_-Cnmanrq3Jywuk/edit?usp=sharing)

Comments are welcome.

@ffilz Could you see the doc in your free time and give some feedback?

OK, I think that design looks good. I would like some additional opinions though.

Are there anymore feedbacks?

At this point, the best bet might be to submit a patch and get review there.

Hi, the [patch](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/1195036) has been updated. If it is acceptable, I will submit a new patch to enable this fix on VFS recovery backend soon as an example.  
In detail, a new file named `reclaim_complete` in the client entry directory will be created/removed/loaded in reclaim_complete/rm_clid/recovery_read_clids callbacks separately. 

Just remind this patch.

Another [patch](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/1205392) which adapt VFS recovery backend to the issue has been submitted. Please help review this patch. 

This is just a reminder that the patch has not moved forward over 2 months. Please tell me  if there's any additional information I can provide to help move things forward.

I have found that this patch breaks the standard FSAL_VFS.   
The problem is that OP_RECLAIM_COMPLETE is called at the very end of the takeover.

RFC 8881 Section 8.4.3 states  

> The server may choose to invalidate the session and the associated client ID. In this case, once the
> client can communicate with the server, it will receive an NFS4ERR_BADSESSION error. Upon
> attempting to create a new session, it would get an NFS4ERR_STALE_CLIENTID. Upon creating the
> new client ID and new session, the client will attempt to reclaim locks. Normally, the server will
> not allow the client to reclaim locks, because the server will not be in its recovery grace period.

That is how the takeover mechanism in NFS Ganesha has been designed.  On server B the  CLIDs are read and loaded during the GRACE period.  Then after the GRACE period the client will receive the NFS4ERR_BADSESSION etc and create the new session.

At the end of that sequence of operations and subsequent lock reclaim via OP_OPEN, then OP_RECLAIM_COMPLETE is sent.

So at the beginning of the recovery, recovery_fs,c:fs_read_recov_clids_impl checks the existence of the 
RECLAIM_COMPLETE marker (via fs_check_reclaim_complete()) and marks  cl_reclaim_complete (via add_clid_entry -> nfs4_add_clid_entry()

Then nfs4_chk_clid_impl  uses  nfs4_recovery.c:check_clid()  which returns   cl_reclaim_complete .




The client is not allowed to reclaim states during the grace period unless the client had reclaimed completely before the restart. 

You can see more about the design in [Edge condition 2 in NFSv.4 1 crash recovery for nfs-ganesha](https://docs.google.com/document/d/1ELx96yWSKqSY97ogKHXONiYXNGIt_-Cnmanrq3Jywuk/edit?usp=sharing)


The client is not trying to reclaim during the grace period.  Say there are 2 servers A and B.  Edited - I made a mistake while trying to write this up quickly.

1. The client is connected to server A.  
2.  Server A has some sort of issue. The virtual IP address is shifted from Server A to Server B
3.  A DBUS message with event type 0 is sent to Server A and Server B to put them into GRACE
4.  A  DBUS message with RELEASE_IP (2:) server A and it releases the locks.  
5.  A DBUS TAKEIP (5:) is sent to server B.  It reads/loads the CLIDS
6. Server B tells it about the BADESSION, STALE_CLIENTID etc.  The new session and client IDs are created.  Then the  locks are reclaimed.  At the end of that sequence of operations the OP_RECLAIM_COMPLETE is sent.
7. End of Grace

So no operations have occurred until 7.    No OP_RECLAIM_COMPLETE has been sent.  So step 5 is broken because it now relies on an OP_RECLAIM_COMPLETE having been received.


> the client is not allowed to reclaim states during the grace period unless the client had reclaimed completely before the grace period.

If the client has sent OP_RECLAIM_COMPLETE to server A, then  it is allowed to reclaim states during grace period of server B(step 5). 

BTW,  in step 7, the grace period of server B has finished. So the locks can not be reclaimed. 

Does the commit get some issue involved in your practice?

@peter-schwenke Please let me know if the commit gets some issue involved in your practice. Thanks!

> > the client is not allowed to reclaim states during the grace period unless the client had reclaimed completely before the grace period.
> 
> If the client has sent OP_RECLAIM_COMPLETE to server A, then it is allowed to reclaim states during grace period of server B(step 5).
> 
> BTW, in step 7, the grace period of server B has finished. So the locks can not be reclaimed.

Sorry, I made q mistake trying to write this up quickly.

Yes, this is stopping the lock reclaims from working.  As described, above no OP_RECLAIM_COMPLETE operation has occurred when we try to read and load the CLIDs. So the CLIDs aren't added.

We have reverted the 2 patches for this.

I see. the behavior is expected and you're preferring IO availability than data integrity in this corner case. 

And  I think you're welcome to submit a patch to add the option to control this enhancement.

Here is an example with logs showing the relevant bits and pieces.  This is without the OP_RECLAIM_COMPLETE patches.  The CLIDs are read on receipt of the "nfs_start_grace :STATE :EVENT :NFS Server recovery event 5" events.  

We have a 5 node cluster nsds1 (node 0), nsds2 (node 1) ... nsds5
(node 4)

We disable nsds1.  That means the virtual IP addresses 192.168.10.55
and 192.168.10.115 will move to other nodes and the locks will be
reclaimed by the client connected to those VIPs.

So you can see 192.168.10.55  moves to nsds4 (node 3)
               192.168.10.115 moves to nsds2 (node 1)
	       
[root@nsds1 /]# ctdb ip
Public IPs on node 0
192.168.10.35 1
192.168.10.45 2
192.168.10.55 0
192.168.10.65 2
192.168.10.75 1
192.168.10.85 4
192.168.10.95 3
192.168.10.105 4
192.168.10.115 0
192.168.10.125 3
[root@nsds1 /]# ctdb disable
[root@nsds1 /]# ctdb ip
Public IPs on node 0
192.168.10.35 1
192.168.10.45 2
192.168.10.55 3
192.168.10.65 2
192.168.10.75 1
192.168.10.85 4
192.168.10.95 3
192.168.10.105 4
192.168.10.115 1
192.168.10.125 3
[root@nsds1 /]# date
Thu Aug 14 03:55:17 UTC 2025


2025-08-14T03:54:57.042572+00:00 nsds4 ctdb-recoverd[828]: Takeover run starting
2025-08-14T03:54:57.042856+00:00 nsds2 ctdb-recoverd[829]: Disabling takeover runs for 60 seconds
2025-08-14T03:54:57.042856+00:00 nsds5 ctdb-recoverd[829]: Disabling takeover runs for 60 seconds
2025-08-14T03:54:57.042867+00:00 nsds1 ctdb-recoverd[828]: Disabling takeover runs for 60 seconds
2025-08-14T03:54:57.042886+00:00 nsds3 ctdb-recoverd[829]: Disabling takeover runs for 60 seconds
2025-08-14T03:54:57.324894+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:57.324987+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[dbus] nfs_start_grace :STATE :EVENT :grace reload client info completed from backend
2025-08-14T03:54:57.345433+0000 : epoch 00040001 : nsds5 : ganesha.nfsd-1247[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:57.345470+0000 : epoch 00040001 : nsds5 : ganesha.nfsd-1247[dbus] nfs_start_grace :STATE :EVENT :grace reload client info completed from backend
2025-08-14T03:54:57.346050+00:00 nsds4 ctdb-eventd[724]: 60.nfs: Start grace period: 0:
2025-08-14T03:54:57.355813+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:57.355900+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :grace reload client info completed from backend
2025-08-14T03:54:57.356368+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:57.356417+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[dbus] nfs_start_grace :STATE :EVENT :grace reload client info completed from backend
2025-08-14T03:54:57.357050+00:00 nsds5 ctdb-eventd[724]: 60.nfs: Start grace period: 0:
2025-08-14T03:54:57.360212+0000 : epoch 00020001 : nsds3 : ganesha.nfsd-1119[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:57.360258+0000 : epoch 00020001 : nsds3 : ganesha.nfsd-1119[dbus] nfs_start_grace :STATE :EVENT :grace reload client info completed from backend
2025-08-14T03:54:57.365567+00:00 nsds2 ctdb-eventd[724]: 60.nfs: Start grace period: 0:
2025-08-14T03:54:57.366960+00:00 nsds1 ctdb-eventd[723]: 60.nfs: Start grace period: 0:
2025-08-14T03:54:57.372537+00:00 nsds3 ctdb-eventd[724]: 60.nfs: Start grace period: 0:
2025-08-14T03:54:57.384585+00:00 nsds1 ctdbd[722]: Release of IP 192.168.10.115/24 on interface eth1  node:1
2025-08-14T03:54:57.386121+00:00 nsds1 ctdbd[722]: Release of IP 192.168.10.55/24 on interface eth1  node:3
2025-08-14T03:54:57.493934+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[svc_18] rpc :TIRPC :EVENT :svc_vc_wait: 0x7f92ba831000 fd 17 recv errno 103 (will set dead)
2025-08-14T03:54:57.524029+00:00 nsds1 ctdb-eventd[723]: 10.interface: Killed 1/1 TCP connections to released IP 192.168.10.115, using ss -K
2025-08-14T03:54:57.690020+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :NFS Server
 Now IN GRACE, duration 60
2025-08-14T03:54:57.690061+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :NFS Server recovery event 2 nodeid -1 ip 192.168.10.115
2025-08-14T03:54:57.690147+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_release_v4_clients :STATE :EVENT :NFS Server V4 recovery release ip 192.168.10.115
2025-08-14T03:54:57.690161+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] ip_match :STATE :DEBUG :Match 192.168.10.115 with 192.168.10.115
2025-08-14T03:54:57.690164+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] ip_match :STATE :DEBUG :Match ret=1
2025-08-14T03:54:58.068731+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:58.068778+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_start_grace :STATE :EVENT :NFS Server recovery event 2 nodeid -1 ip 192.168.10.55
2025-08-14T03:54:58.068893+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] nfs_release_v4_clients :STATE :EVENT :NFS Server V4 recovery release ip 192.168.10.55
2025-08-14T03:54:58.068902+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[dbus] ip_match :STATE :DEBUG :Match 192.168.10.55 with 192.168.10.55

2025-08-14T03:54:58.080937+00:00 nsds1 ctdb-eventd[723]: 60.nfs: Start grace period: 2:192.168.10.55
2025-08-14T03:54:58.099577+00:00 nsds4 ctdbd[723]: Takeover of IP 192.168.10.55/24 on interface eth1
2025-08-14T03:54:58.100119+00:00 nsds2 ctdbd[723]: Takeover of IP 192.168.10.115/24 on interface eth1
2025-08-14T03:54:58.101176+00:00 nsds2 ctdbd[723]: Monitoring event was cancelled
2025-08-14T03:54:58.361826+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:58.361919+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[dbus] nfs_start_grace :STATE :EVENT :NFS Server recovery event 5 nodeid -1 ip 192.168.10.115
2025-08-14T03:54:58.362256+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[dbus] nfs4_recovery_load_clids :STATE :DEBUG :Load recovery cli 0x7fa8773bb860





2025-08-14T03:54:58.431542+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[dbus] nfs_start_grace :STATE :EVENT :NFS Server Now IN GRACE, duration 60
2025-08-14T03:54:58.431623+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[dbus] nfs_start_grace :STATE :EVENT :NFS Server recovery event 5 nodeid -1 ip 192.168.10.55


2025-08-14T03:55:23.229501+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:23.229602+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_BADSESSION lastindex = 1
2025-08-14T03:55:23.230189+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 44 is OP_DESTROY_SESSION
2025-08-14T03:55:23.230253+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_BADSESSION lastindex = 1
2025-08-14T03:55:23.230558+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 43 is OP_CREATE_SESSION
2025-08-14T03:55:23.230652+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_STALE_CLIENTID lastindex = 1
2025-08-14T03:55:23.231070+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 42 is OP_EXCHANGE_ID
2025-08-14T03:55:23.231526+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 43 is OP_CREATE_SESSION
2025-08-14T03:55:23.233096+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:23.233235+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 1: opcode 24 is OP_PUTROOTFH
2025-08-14T03:55:23.233451+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 2: opcode 9 is OP_GETATTR
2025-08-14T03:55:23.234134+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:23.234265+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 1: opcode 22 is OP_PUTFH
2025-08-14T03:55:23.236874+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 2: opcode 18 is OP_OPEN
2025-08-14T03:55:23.239389+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 3: opcode 9 is OP_GETATTR
2025-08-14T03:55:23.240130+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_28] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:23.240262+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_28] process_one_op :NFS4 :DEBUG :Request 1: opcode 22 is OP_PUTFH
2025-08-14T03:55:23.240382+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_28] process_one_op :NFS4 :DEBUG :Request 2: opcode 12 is OP_LOCK
2025-08-14T03:55:23.243462+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:23.243592+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[svc_35] process_one_op :NFS4 :DEBUG :Request 1: opcode 58 is OP_RECLAIM_COMPLETE
2025-08-14T03:55:23.291657+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.612014+0000 : epoch 00020001 : nsds3 : ganesha.nfsd-1119[svc_28] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.744343+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.744452+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_BADSESSION lastindex = 1
2025-08-14T03:55:24.744982+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 44 is OP_DESTROY_SESSION
2025-08-14T03:55:24.745042+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_BADSESSION lastindex = 1
2025-08-14T03:55:24.745369+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 43 is OP_CREATE_SESSION
2025-08-14T03:55:24.745462+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] complete_nfs4_compound :NFS4 :DEBUG :End status = NFS4ERR_STALE_CLIENTID lastindex = 1
2025-08-14T03:55:24.745824+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 42 is OP_EXCHANGE_ID
2025-08-14T03:55:24.746343+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 43 is OP_CREATE_SESSION
2025-08-14T03:55:24.747860+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.748020+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 1: opcode 24 is OP_PUTROOTFH
2025-08-14T03:55:24.748328+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 2: opcode 9 is OP_GETATTR
2025-08-14T03:55:24.749023+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.749165+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 1: opcode 22 is OP_PUTFH
2025-08-14T03:55:24.751722+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 2: opcode 18 is OP_OPEN
2025-08-14T03:55:24.753911+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 3: opcode 9 is OP_GETATTR
2025-08-14T03:55:24.754584+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.754741+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 1: opcode 22 is OP_PUTFH
2025-08-14T03:55:24.754887+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_39] process_one_op :NFS4 :DEBUG :Request 2: opcode 12 is OP_LOCK
2025-08-14T03:55:24.757723+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 0: opcode 53 is OP_SEQUENCE
2025-08-14T03:55:24.757855+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[svc_36] process_one_op :NFS4 :DEBUG :Request 1: opcode 58 is OP_RECLAIM_COMPLETE



2025-08-14T03:56:02.332623+0000 : epoch 00020001 : nsds3 : ganesha.nfsd-1119[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
2025-08-14T03:56:02.332997+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE

2025-08-14T03:56:02.333069+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
22025-08-14T03:56:02.333131+0000 : epoch 00000001 : nsds1 : ganesha.nfsd-1333[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
025-08-14T03:56:02.332623+0000 : epoch 00020001 : nsds3 : ganesha.nfsd-1119[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
2025-08-14T03:56:02.332997+0000 : epoch 00030001 : nsds4 : ganesha.nfsd-1437[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
2025-08-14T03:56:02.333064+0000 : epoch 00040001 : nsds5 : ganesha.nfsd-1247[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE
2025-08-14T03:56:02.333069+0000 : epoch 00010001 : nsds2 : ganesha.nfsd-1181[reaper] nfs_lift_grace_locked :STATE :EVENT :NFS Server Now NOT IN GRACE


The patches are operating and breaking normal usage - they are not just coming in to play on edge conditions.  This is not a corner case.

If the NFS client has sent OP_RECLAIM_COMPLETE  and your recovery backend also persists the reclaim_complete flag before the VIP migration, then the client is expected to allow reclaim states, unless a new bug gets involved.

Could you debug more about the issue?

We are using FSAL_VFS.  

The client won't send an OP_RECLAIM_COMPLETE until the reclaim has completed.  So it is not possible to persist the reclaim_complete flag in the recovery backend.  The communications are outlined in the comments above.

From the RFC

> 18.51.3. DESCRIPTION
> A RECLAIM_COMPLETE operation is used to indicate that the client has reclaimed all of the
> locking state that it will recover using reclaim, when it is recovering state due to either a server
> restart or the migration of a ﬁle system to another server. There are two types of

So a RECLAIM_COMPLETE operation is the _not_ the _first_ step in the reclaiming of locks.  It is at the end of the reclaim process.

The key is whether the NFS client has sent OP_RECLAIM_COMPLETE **before** the VIP migration, or during the **LAST** grace period.


Let's talk with your example above. 
> 1. The client is connected to server A.
> 2. Server A has some sort of issue. The virtual IP address is shifted from Server A to Server B

Please check whether the client has sent OP_RECLAIM_COMPLETE to **server A**.  We don't care at all about whether the client sends OP_RECLAIM_COMPLETE during the grace period at Server B.

No OP_RECLAIM_COMPLETE is sent to server A.  

You just meet with the issue the patch expects to fix and enhance data integrity.  I think you should debug more about why the client doesn't finish reclaim states before A is step down.

@ffilz Could you mark this issue with some tags? The related patches have been merged. Only FS recovery backend supports the enhancement now. 

> You just meet with the issue the patch expects to fix and enhance data integrity. I think you should debug more about why the client doesn't finish reclaim states before A is step down.

Why would the client send an OP_RECLAIM_COMPLETE to server A?  

When the virtual IP was moved on server A,  normally the NFSv4.1 client would reconnect to server A and reclaim states. The client would send OP_RECLAIM_COMPLETE if it did reclaim all its states or it can't reclaim states anymore because grace period had finished. 

So I suggest you debug more. 

